- content_for :content do
  .UI_column
    %h1 
      = t('title.log_in')
    = form_for(:session, url: login_path) do |f|
      %ul.UI_form_column
        %li
          = f.label :email
          = f.text_field :email
        %br/
        %li
          = f.label :password
          = f.password_field :password
        %br/
        %li
          = f.submit t('button.accept'), class: "UI_button"
          = link_to t('link.or_sign_up'), new_user_path
