%strong 
  = t('mailer.bet_ID_was_finished', bet_id: @bet.id)
%p 
  = t('mailer.hi_USER', user: @user.name) + ','
%p 
  = t('mailer.bet_ended_phrase')
%p
  %strong 
  	= t('mailer.bet_desc')
%p #{@bet.description}
%p
  %strong 
  	= t('mailer.result')
%p The winning option was: RESULT
/ TODO: WRITE THE RESULT
%p
  %strong 
	= link_to t('mailer.check_this_bet'), @bet