.email-content{style: "font-family: 'Source Sans Pro', sans-serif;color: #111;font-size: 14px;margin-top: 15px;"}
  = render partial: 'user_mailer/header'

  .email-body{style: "margin: 30px 30px 40px;text-align: justify;"}
    %p El administrador #{@admin.to_s}, te ha creado un usuario en Comunidad Feliz, software de administración para edificios y condominios. En él podrás tener acceso a toda la información referente a la comunidad #{@community.to_s}, especialmente lo que compete tus gastos comunes.
    %p Mientras no cambies tu contraseña, el administrador podrá manejar tus datos. Una vez que lo hagas, tendrás el control de tu información.
    %p 
      Puedes cambiarla haciendo click en el siguiente link:
      %a{href: "#{@url}", style: "color: #66b11b; text-decoration: none;"}= @url
  = render partial: 'user_mailer/footer'