<html>
  <head>
    <!-- Nothing here yet -->
  </head>
  <body>
    <% content_for :content do %>
      <%= form_for @bet, html: {class:"content_like"} do |f| %>
        <fieldset class="UI_column">
          <h1>
            <% if @bet.name? %>
              Editing
            <% else %>
              Creating a
            <% end %>...
          </h1>

          <h2>Bet parameters</h2>
          <br>

          <ul class="UI_form_column">
            <li><%= f.label :execution_date  %> <%= f.datetime_select :execution_date %></li>            
            <br>
            <li><%= f.label :name  %> <%= f.text_field :name %>
            </li>
            <br>
            <li><%= f.label :description  %> <%= f.text_field :description %>
            </li>
            <br>
            <li><%= f.label :avatar  %> <%= f.file_field :avatar, class: "UI_button" %>
            </li>
            <br>
            <li>
              <% if @bet.avatar? %>
                <%= f.label :remove_avatar %> <%= f.check_box :remove_avatar %>
                <%= image_tag @bet.avatar.thumb.url %>
              <% end %>
            </li>
          </ul>     
        </fieldset>
        <fieldset class="UI_column">
          <ul class="UI_form_column">
            <h1>-
              <% if @bet.name? %>
                bet #<%= @bet.id %>
              <% else %>
                new bet
              <% end %>.
            </h1>

            <h2>Bet options</h2>
            <br>

            <% begin %>

            <% rescue %>

            <% end %>

            <%= f.submit "Accept", class: "UI_button" %>
          </ul>     
        </fieldset>
      <% end %>
    <% end %>
  </body>
</html>