- content_for :content do
  = form_for @bet, html: {class:"content_like"} do |f|
    %fieldset.UI_column
      %h1
        - if @bet.name?
          Editing...
        - else
          Creating a...
      %h2 Bet parameters
      %br/
      %ul.UI_form_column
        %li
          = f.label :execution_date
          -if bet.execution_date.present?
            %input#datetimepicker4{:type => "text", :value => @bet.execution_date.in_time_zone("Santiago").strftime('%Y/%m/%d %H:%M'), name: 'bet[execution_date]'}
          -else

            %input#datetimepicker4{:type => "text", :value => Time.now.in_time_zone("Santiago").strftime('%Y/%m/%d %H:%M'), name: 'bet[execution_date]'}
        %br/
        %li
          = f.label :name
          = f.text_field :name
        %br/
        %li

          = f.label :description
        = f.cktext_area :description

        %br/
        %li
          = f.label :avatar
          = f.file_field :avatar, class: "UI_button"
        %br/
        %li
          - if @bet.avatar?
            = f.label :remove_avatar
            = f.check_box :remove_avatar
            = image_tag @bet.avatar.thumb.url
        %li
          = f.label :visible, "Make it private?"
          = f.check_box :visible, {:checked => !@bet.visible},
                   0,
                   1
        %br/
    %fieldset.UI_column
      %ul.UI_form_column
        %h1
          - if @bet.name?
            bet ##{@bet.id}
          - else
            new bet.
        %h2 Bet options
        %br/
        .row.additional_info
          .meh
            .doh{style: "display:inline-block"}
              %h4
                ="Description"
              = text_field_tag "bet_options[{index}][description]",nil, class: 'form-control', placeholder: "Cato wins"
            .doh{style: "display:inline-block"}
              %h4
                ="Percentage"
              = text_field_tag "bet_options[{index}][percentage]",nil, class: 'form-control',data:currency_field
            .doh{style: "display:inline-block"}
              %h4
                ="Winner option?"
              = check_box "bet_options[{index}][win]",nil, class: 'form-control'
            .doh{style: "display:inline-block"}
              .field
                %button.addAdditionalInfo.tiny.UI_button{start_at: 0, target: ".additional_infos", type:"button"} Add
                %button.red.deleteAdditionalInfo.tiny.UI_button_negative{style:"display:none", type:"button"} Delete

        -begin
          .additional_infos
            - @bonos.each_with_index do |b,index|
              .row.additional_info
                .field{style: "display:none"}
                  = text_field_tag "bet_options[#{index}][id]", b.id, class: 'form-control',style: "display:none"
                .field{style: "display:inline-block"}
                  = text_field_tag "bet_options[#{index}][description]", b.description, class: 'form-control'
                .field{style: "display:inline-block"}
                  = text_field_tag "bet_options[#{index}][percentage]", b.percentage, class: 'form-control',data:currency_field
                .doh{style: "display:inline-block"}
                  %h4{style:"visibility:hidden; height: 0px;"}
                    ="Opción Ganadora"
                  = check_box "bet_options[#{index}][win]",'',checked: b.win, class: 'form-control'
                .field{style: "display:inline-block"}

                  %button.red.deleteAdditionalInfo.tiny.UI_button_negative{type:"button"} Delete
        -rescue

        - bet.bet_options do |b|
          .field
            = text_field_tag "bet_options[#{index}][description]", b.name, class: 'form-control'
          .field
            = text_field_tag "bet_options[#{index}][percentage]", b.value, class: 'form-control',data:currency_field
          .check_box
            ='Eliminar'
        = f.submit "Accept", class: "UI_button"

        .success
          %span.closebtn ×

          %b Wololo
  :javascript
    $(function() {
      var delete_additional_info;
      delete_additional_info = function() {
        return $(".deleteAdditionalInfo").click(function() {
          var row;
          row = $(this).parents(".additional_info");
          return row.remove();
        });
      };
      delete_additional_info();
      return $(".addAdditionalInfo").click(function() {
        var index, new_row, row;
        index = $(this).attr("start_at");
        row = $(this).parents(".additional_info");
        new_row = row.clone().prependTo($(this).attr("target"));
        new_row.find("input").each(function() {
          return $(this).attr("name", $(this).attr("name").replace("{index}", index));
        });
        new_row.find(".deleteAdditionalInfo").show();
        new_row.find(".addAdditionalInfo").hide();
        new_row.find("h4").css('visibility', 'hidden');
        new_row.find("h4").css('height', '0px');
        delete_additional_info();
        $(this).attr("start_at", parseInt(index) + 1);
        return row.find("input").val("");
      });
    });
  :javascript
    /*
      window.onerror = function(errorMsg) {
      $('#console').html($('#console').html()+'<br>'+errorMsg)
      }*/

      $.datetimepicker.setLocale('es');


      $('#datetimepicker4').datetimepicker({
        //allowTimes:['12:00','13:00','15:00','17:00','17:05','17:20','19:00','20:00'],
        //formatDate:'d.m.Y',
        step:1
      });
      $('#open').click(function(){
      $('#datetimepicker4').datetimepicker('show');
     });
      $('#close').click(function(){
      $('#datetimepicker4').datetimepicker('hide');
      });
      $('#reset').click(function(){
      $('#datetimepicker4').datetimepicker('reset');
      });



      $('#datetimepicker_dark').datetimepicker({theme:'dark'})
