<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name=<%= t('excel.bets') %>>
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String"><%= t('excel.name_of_bet') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('excel.owner') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('excel.starting_date') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('excel.closing_date') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('excel.total_wagered') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('excel.winner_options') %></Data></Cell>
      </Row>
    <% @bets.each do |bet| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= bet.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= bet.name %></Data></Cell>
        <%- if bet.user.present? %>
          <Cell><Data ss:Type="Number"><%= bet.user.id %></Data></Cell>
          <%- else %>
          <Cell><Data ss:Type="String"><%= t('excel.unregistered_user') %></Data></Cell>
        <% end %>
        <Cell><Data ss:Type="String"><%= bet.created_at.to_s %></Data></Cell>
        <Cell><Data ss:Type="String"><%= bet.execution_date %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= bet.get_total %></Data></Cell>
        <Cell><Data ss:Type="String"><%= bet.winners %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
  <Worksheet ss:Name=<%= t('excel.bet_options') %>>
    <Table>
      <Row>
        <Cell><Data ss:Type="String"><%= t('excel.bet_id') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('excel.option_id') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('excel.description') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('excel.winner') %></Data></Cell>
      </Row>
    <% @bets.each do |bet| %>
      <% bet.bet_options.each do |option| %>
        <Row>
          <Cell><Data ss:Type="Number"><%= bet.id %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= option.id %></Data></Cell>
          <Cell><Data ss:Type="String"><%= option.description %></Data></Cell>
          <%- if option.win %>
          <Cell><Data ss:Type="String"><%= t('excel.yes') %></Data></Cell>
          <%- else %>
          <Cell><Data ss:Type="String"><%= t('excel.no') %></Data></Cell>
          <% end %>
        </Row>
      <% end %>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
