<html>
  <head>
    <!-- Nothing here yet -->
  </head>
  <body>
    <% content_for :content do %>
      <div class="UI_column">
        <h1> <%= t('title.your_bets') %> </h1>
        <br>
        <ul>
          <% for bet in current_user.bets %>
            <li><%= link_to bet.name, bet_path(bet) %> </li>
          <% end %>
        </ul>
      </div>

      <div class="UI_column">
        <h1><%= t('title.friends_bets') %></h1>
        <i>And of people who've added you as friend</i>
        <br>
        <br>
        <ul>
          <% for friend in who_added_me(current_user) %>
            <li>
              <h2><%= t('title.USER_s', user: friend.name ) %></h2>
              <ul>
                <% for bet in friend.bets %>
                  <li><%= link_to bet.name, bet_path(bet) %> </li>
                <% end %>
              </ul>
              <br>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="UI_column">
        <h1> <%= t('title.other_public_bets') %> </h1>
        <br>
        <ul>
          <% for bet in @bets_public  %>
            <li><%= link_to bet.name, bet_path(bet) %> </li>
          <% end %>
        </ul>
      </div>
      <div class="UI_column">
          <h1> <%= t('title.excel_export') %> </h1>
          <ul>
        <li><%= link_to "Excel", export_bets_path(format: "xls") %></li>
        </ul>
      </div>
    <% end %>
  </body>
</html>
