<% content_for :content do %>
  <div class="UI_column">
    <h1><%= @bet.name %></h1>
    <%= image_tag bet_medium @bet %>
    <br>

    <% if(!@bet.visible) %>

    <!-- TODO: make this distinct from the Bet's description -->

      <i>This bet is private.</i>

      <% if(!admin_access?) %>

        <% if(@bet.user == current_user) %>

          <i>That means that only you and your friends can view it and participate in it.</i>

        <% else %>

          <i>As friend of its owner, you can see it and participate in it.</i>

        <% end %>

      <% else %>

        <i>As admin, you can view it and participate in it regardless.</i>

      <% end %>

      <br>

    <% end %>

    <div class="desc_textbox">
      <i class="text_with_linebreaks"><%= @bet.description.html_safe %></i>
    </div>
    <br>
    <br>

    <h2>
      <% tleft = @bet.execution_date - Time.zone.now %>
      <% I18n.locale = :en %>
      <% tWords = distance_of_time_in_words(Time.zone.now, @bet.execution_date)%>
      <%= tleft > 0 && "Bet is due in #{tWords}" || "Bet is over!" %>
    </h2>

    <% if @bet.user == current_user %>
      <p>This bet was placed by you. You can edit it <%= link_to "here", edit_bet_url(@bet) %></p>
    <% else %>
      <p>This bet was placed by <%= link_to @bet.user.name, user_url(@bet.user) %></p>
    <% end %>
  </div>

  <div class="UI_column">
    <h1>Options</h1>
    <%= render @bet.bet_options %>
  </div>

  <div class="UI_column">
    <h1>Users' comments</h1>
    <br>
    <div id="comments_container">
      <%= render@bet.comments %>
    </div>
    <%= form_for(:comment, url: comments_path, remote: true, html:{id: 'comment_form'}) do |f| %>
      <strong> Comment: </strong>
      <br>
      <%= f.text_area :content, required: true %>
      <%= f.text_field :bet_id, :value => @bet.id, style: "display: none;" %>
      <%= f.text_field :user_id, :value => current_user.id, style: "display: none;" %>
      <br/>
      <%= f.submit "Post", class: "UI_button" %>
    <% end %>
  </div>

  <div class="UI_column">
    <h1>Users' bets</h1>
    <br>
    <div id="bets_container">
      <%= render @bet.user_bets %>
    </div>
  </div>





<% end %>
