= form_for(user) do |f|
  - if user.errors.any?
    #error_explanation
      %h2
        = pluralize(user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - user.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :username
    = f.text_field :username
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :password
    = f.text_field :password
  - if admin_access?
    .field
      = f.label "Admin"
      = f.check_box :user_type, {:class => "myclass", :style => "mystyle"}, 1, 0
  / .field
  /   = f.label :balance
  /   = f.number_field :balance
  .actions
    = f.submit
