<html>
  <head>
    <!-- Nothing here yet -->
  </head>
  <body>
    <% content_for :content do %>
      <div class="UI_column">
        <%= form_for(@user) do |f| %>
          <% if user.errors.any? %>
            <div id="error_explanation">
              <h2> <%= pluralize(user.errors.count, "error") %>
          prohibited this user from being saved:</h2>
              <% user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </div>
          <% end %>

          <h1>
            <% if user.username? %>
              <%= t('title.editing_profile_of_USER', user: user.name) %>
            <% else %>
              <%= t('title.create_new_account') %>
            <% end %>
          </h1>

          <ul class="UI_form_column">
            <li><%= f.label :username  %> <%= f.text_field :username %></li>            
            <br>
            <li><%= f.label :name  %> <%= f.text_field :name %></li>            
            <br>
            <li><%= f.label :email  %> <%= f.text_field :email, id: "cur_email", oninput:"makeCurrentGravatar()"%>            
            </li>
            <br>
            <li><%= f.label :password  %> <%= f.password_field :password %>
            </li>
            <br>
            <li><%= f.label :image  %> <%= f.file_field :image, class: "UI_button" %>
            </li>
            <br>
            <li>
              <% if user.image? %>
                <%= f.label :remove_image %> <%= f.check_box :remove_image %>
                <%= image_tag user.image.thumb.url %>
              <% end %>
            </li>
            
            <br>
            <%= javascript_include_tag "javascripts/md5.min" %>
            <script type="text/javascript">
              function makeCurrentGravatar () {
                var mail = document.getElementById("cur_email").value;

                var hash = md5(mail);

                document.getElementById("cur_gravatar").src = "//www.gravatar.com/avatar/" + hash + "?d=identicon";
              }
            </script>
 
            <li>
              <%= f.label :gravatar_usage, t('label.use_gravatar_instead') %> <%= f.check_box :gravatar_usage %>
              <%= image_tag User::gravatar_url(@cur_email || ""), id:"cur_gravatar", onload:"makeCurrentGravatar()" %>
            </li>
            
            <li><%= f.submit t('button.accept'), class: "UI_button" %> <%= link_to t('link.have_an_account'), login_path unless @user.name %></li>

          </ul>          
        <% end %>
      </div>
    <% end %>
  </body>
</html>