<html>
  <head>
    <!-- Nothing here yet -->
  </head>
  <body>
    <% content_for :content do %>
      <div class="UI_column">
        <h1><%= @user.name %></h1>
        <br>
        <%= image_tag this_user_medium %>
        <br>
        <br>
        <div id="profile_box">
          <ul id="user_qualities">
            <li>
              <strong>Type: </strong> <%= see_this_userS_type %>
            </li>
            <li>
              <strong>Username: </strong> <%= @user.name %>
            </li>
            <li>
              <strong>Email: </strong> <%= @user.email %>
            </li>
            <li>
              <strong>Balance: </strong> <%= @user.balance %>
            </li>
          </ul>
          <ul class="UI_link_column">
            <li><%= link_to 'Edit', edit_user_path(@user) %></li>
            <li><%= link_to 'Back to Users', users_path %></li>
          </ul>
        </div>
      </div>
      <div class="UI_column">
        <h1>List of friends</h1>
        <ul id="real_friends">
          <% for friend in real_friends(@user) %>
            <li><%= link_to friend.name, user_path(friend) %> </li>
          <% end %>
        </ul>
        <br>
        <h1>Public bets</h1>
        <ul>
          <% for bet in @user.bets %>
            <li><%= link_to bet.name, bet_path(bet) %> </li>
          <% end %>
        </ul>
      </div>
      <% if different_user? %>
        <div class="UI_column">
          <h1>Friendship status</h1>
          <div id="friendship_status">
            <%= render(:partial => 'friends/form', :locals => { :user => @user }) %>
          </div>
          <br>
          <br>
          <h1>Private bets</h1>
          <div id= "private_bets">
            <% if are_we_both_friends?(current_user, @user) %>
              <ul>
                <% if @private_bets != [] %>
                  <% for bet in @private_bets %>
                    <li>
                      <%= link_to "#{bet.name}", bet_path(bet) %>
                    </li>
                  <% end %>
                <% else %>
                  <p>This user has no private bets</p>
                <% end %>
              </ul>
            <% else %>
              <p>You don't have access to their private bets, because they haven't added you as friend</p>
            <% end %>
            </div>
        </div>
      <% end %>
    <% end %>
  </body>
</html>
