%p#notice= notice
%p
  %strong Username:
  = @user.username
%p
  %strong Email:
  = @user.email
%p
  %strong Avatar:
  %br
  = image_tag @user.image.thumb.url
%p
  %strong Type:
  = user_type_string
%p
  %strong Balance:
  = @user.balance
%p
  - if different_user?
    - if friends?
      %strong You are friends!
      %br
      = form_for(:friendship, method: :delete, url: friends_path) do |f|
        .field
          = f.text_field :user_id, :value => current_user.id, style: "display: none;"
        .field
          = f.text_field :friend_id, :value => @user.id, style: "display: none;"
        .actions
          = f.submit "Destroy friendship"

    - else
      %strong You are not friends :(
      %br
      = form_for(:friendship, url: friends_path) do |f|
        .field
          = f.text_field :user_id, :value => current_user.id, style: "display: none;"
        .field
          = f.text_field :friend_id, :value => @user.id, style: "display: none;"
        .actions
          = f.submit "Become friends"


= link_to 'Edit', edit_user_path(@user)
|
= link_to 'Back', users_path
