<html>
  <head>
    <!-- Nothing here yet -->
  </head>
  <body>
    <% content_for :content do %>
      <div class="UI_column">
        <h1><%= t('title.home_of_USER', user: current_user.name) %></h1>
        <br>
        <%= image_tag user_medium current_user %>
        <br>
        <br>
        <div id="profile_box">
          <ul id="user_qualities">
            <li>
              <strong>Balance: </strong> <%= current_user.balance %>
            </li>
          </ul>
          <ul class="UI_link_column">
            <li><%= link_to 'View your profile', user_path(current_user) %></li>
          </ul>
        </div>
      </div>
      <div class="UI_column">
        <h1><%= t('title.bets_youre_on') %></h1>
        <ul>    
          <% for bet in @bets_wagered_on %>
            <li>
              <%= link_to "#{bet.name}", bet_path(bet) %>
            </li>
          <% end %> 

        </ul>
      </div>

      <div class="UI_column">
        <h1><%= t('title.bets_owned_by_you') %></h1> 
        <ul> 
          <% for bet in Bet.where(user: current_user) %>
            <li><%= link_to bet.name, bet_path(bet) %> </li>
          <% end %>
        </ul>       
      </div>
    <% end %>
  </body>
</html>