%p#notice= notice
%p
  %strong 
  	= t('title.description') + ":"
  = @bet_option.description
%br/
%p
  %strong 
  	= t('smalltitle.bet') + ":"
  = @bet_option.bet
= link_to 'Edit', edit_bet_option_path(@bet_option)
|
= link_to 'Back', bet_options_path
