%p#notice= notice
%p
  %strong Description:
  = @bet_option.description
%p
  %strong Percentage:
  = @bet_option.percentage
%p
  %strong Bet:
  = @bet_option.bet
= link_to 'Edit', edit_bet_option_path(@bet_option)
|
= link_to 'Back', bet_options_path
