- content_for :content do
  .div.UI_column
    %h1 
      = t('title.creating_a_new_payment')
    = form_for @payment do |f|
      %ul.UI_form_column
        - if payment.errors.any?
          #error_explanation
            %h2
              = pluralize(payment.errors.count, "error")
              prohibited this payment from being fulfilled:
            %ul
              - payment.errors.full_messages.each do |message|
                %li= message
        %li
          = f.label :amount
          = f.text_field :amount
        %li
          = f.label :user
          = f.collection_select :user_id, User.all, :id, :username, { prompt: t('label.select_an_user') }, { class: "UI_form_control" }
        %li
          = f.submit t('button.accept_payment'), class: "UI_button"
