- content_for :content do
  .div.UI_column
    %h1 Creating a new Payment
    = form_for @payment do |f|
      %ul.UI_form_column
        - if payment.errors.any?
          #error_explanation
            %h2
              = pluralize(payment.errors.count, "error")
              prohibited this payment from being fulfilled:
            %ul
              - payment.errors.full_messages.each do |message|
                %li= message
        %li
          = f.label :amount
          = f.text_field :amount
        %li
          = f.label :user
          = f.collection_select :user_id, User.all, :id, :username, { prompt: "Select a user" }, { class: "UI_form_control" }
        %li
          = f.submit "Accept payment", class: "UI_button"
