<ul id="header">
  <% if logged_in? %>
    <li id="log_status">
      <strong class="tooltip_bearer"> 
        <%= user_type_string %> 
        <span class="tooltip">Tooltip text</span>
      </strong>
      <span></span>
      <i> <%= user_name %> </i>
    </li>
    <li>
      <%= link_to "Home", root_path, class: cc("home") %>
    </li>
    <li class="dropdown">
      <%= link_to "Users", users_path, class: cc("users") %>
          
      <ul class="dropdown-content">
        <li><%= link_to "All", users_path, class: cp("/users") %></li>
        <li><%= link_to "Me", user_url(current_user), class: cp(user_url(current_user)) %></li>
      </ul>
    </li>
    <li><%= link_to "Payments", payments_path, class: cc("payments") %></li>
    <li class="dropdown">
      <%= link_to "Bets", bets_path, class: cc("bets") %>
      <ul class="dropdown-content">
        <li><%= link_to "All", bets_path, class: cp("/bets") %></li>
        <li><%= link_to "New", new_bet_path, class: cp("/bets/new") %></li>
      </ul>    
    </li>
    <li><%= link_to "Log out", logout_path, method: :delete %></li>
  <% else %>
    <li><%= link_to "Log in", login_path %></li>
    <li><%= link_to "Sign up", new_user_path %></li>
  <% end %>
</ul>