!!!
%html{style: "height: 100%"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title The Bet~ter App!
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    /
      Flash notifications
    =#.div
    =#  - flash.each do |message_type, message|
    =#    %div{:class => "alert alert-#{message_type}"}= message
  %body{style: "height: 100%"}
    = render 'layouts/header'
    %center{style: "padding-top:15px; height: calc(100% - 39px); margin-top: 6px;"}
      = yield
      / = render 'layouts/footer'
