<!DOCTYPE html>
<html>
  <head>
    <%= yield :head %>
    <link href='https://fonts.googleapis.com/css?family=Merienda' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Clicker Script' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Poly' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
    <title>The Bet~ter App!</title>
    <meta author="Grupo 18" />
    <%= csrf_meta_tags%>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'%>
  </head>
  <body>
    <div id="container">
      <div id="upper">
        <div id="banner">
          <%= render 'layouts/banner' %>
          <%= render 'layouts/quote' %>
        </div>
        <%= render 'layouts/header' %>
      </div>

      <div id="content">
        <%= yield :content %>
      </div>

      <%= render 'layouts/footer' %>
      <script>
      $(".closebtn").click(function(){this.parentElement.style.display='none';});
      </script>
    </div>
  </body>
</html>
